
<div class="mb-3">
{{#each genres as |genre|}} 
  <a href="/user/list-post/public?genres={{genre}}" class="btn btn-primary">{{genre}}</a>
{{/each}}
</div>

{{#each posts as |post|}}
  <div class="card mb-2">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>

      <p class="card-text">Fecha: {{post.date}}</p>
      <p class="card-text">Lugar: {{post.place}}</p>
      <a
        href="/promoter/post/{{post._id}}"
        class="btn"
        style="background-color: #26c9cc;"
      >Ver más</a>
    </div>
  </div>
{{/each}}