<section class="section">
  <div class="container">
    <div class="row">
      <div class="container w-50 m-auto">
        <h1 class="mb-1 text-center">Regístrate</h1>
          <form action="/user/register" method="POST">
            <label for="name">Nombre
              <span class="required">*</span></label>
            <input
              value="{{values.name}}"
              type="text"
              class="form-control {{#if errors.name}}is-invalid{{/if}}"
              name="name"
              id="name"
            />
            {{#if errors.name}}
              <div class="invalid-feedback">
                {{errors.name}}
              </div>
            {{/if}}
            <label for="email">Email
              <span class="required">*</span></label>
            <input
            value="{{values.email}}"
              type="email"
              class="form-control {{#if errors.email}}is-invalid{{/if}}"
              name="email"
              id="email"
            />
            {{#if errors.email}}
              <div class="invalid-feedback">
                {{errors.email}}
              </div>
            {{/if}}
            <label for="password">Contraseña
              <span class="required">*</span></label>
            <input
              type="password"
              class="form-control {{#if errors.password}}is-invalid{{/if}}"
              name="password"
              id="password"
            />
            {{#if errors.password}}
              <div class="invalid-feedback">
                {{errors.password}}
              </div>
            {{/if}}
            <label for="plot">Selecciona si seras Usuario o Promotor</label>
            <select
              name="role"
              class="form-select"
              id="role"
              aria-label="Floating label select example"
            >
              <option value="user">Usuario</option>
              <option value="promoter">Promotor</option>
            </select>
            <button class="btn btn-primary w-100 py-2 mb-4 mt-3">
              Regístrate
            </button>
          </form>

        <p class="text-center small mb-2"> Cuando te registras aceptas nuestros

          <a href="https://themes.getbootstrap.com/terms">Terminos y condiciones</a>.</p>
        <p class="text-center small mb-2"> ¿Ya tienes una Cuenta? 
          <a href="/user/login">Inicia sesión</a></p>
      </div>
    </div>
  </div>
</section>