<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8 cd-lg-10 offset-md-2">
      <div class="card mb-4 p-3">
        <!-- Título del evento -->
        <h2 class="card-title text-center mb-4">{{post.title}}</h2>
  
        <div class="row">
          <!-- Columna para el avatar del evento -->
          <div class="col-md-4">
            
              <img src="{{post.avatar}}" class="card-img mb-3" alt="Avatar del evento" style="width: 400px; height: 350px;">
            <p class="card-text">Tags: {{post.tags}}</p>
              <p class="card-text">Fecha: {{post.date}}</p>
              <p class="card-text">Lugar: {{post.place}}</p>
              <p>Bandas:
                {{#each post.bands as |band|}}
                <a href="/band/{{band._id}}">{{band.name}}</a>
                {{#unless @last}}, {{/unless}}
                {{/each}}
              </p>
          </div>
          <!-- Columna para los datos del evento -->
          <div class="col-md-6 ms-auto">
            <div class="card-body event-details-container">
              <p class="card-text">{{post.description}}</p>
              
            {{#ifRoleIsPromoter currentUser}}
              <div class="mt-2 d-flex">
                <a href="/promoter/{{post._id}}/edit-post" class="btn btn-primary">Editar
                  Evento</a>
                <form
                  action="/promoter/{{post._id}}/delete"
                  method="POST"
                >
                  <button type="submit" class="btn btn-danger ms-3">Borrar Evento</button>
                </form>
              </div>
            {{/ifRoleIsPromoter}}
              <!-- Botones de acción -->
              {{#ifRoleIsUser currentUser}}
                {{#ifPostIsNotClosed post.isClosed}}
                  <form action="/promoter/post/{{post._id}}/application" method="POST">
                    {{#if applicated}}
                      <button class="btn btn-primary">Solicitado</button>
                    {{else}}
                      <button class="btn btn-danger">Solicitar</button>
                    {{/if}}
                  </form>
                {{else}}
                  <form action="/user/{{post._id}}/assist" method="POST">
                    <button class="btn btn-danger {{#ifMaxForumComplete post.assistans post.maxForum}}disabled{{/ifMaxForumComplete}}">Asistir</button>
                  </form>
                {{/ifPostIsNotClosed}}
              {{/ifRoleIsUser}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



    {{#ifRoleIsPromoter currentUser}}
    {{#ifPostIsNotClosed post.isClosed}}
      <div class="card">
        <div class="card-body">
          <h3>Solicitudes</h3>
          {{#if post.applications}}
            <p>
              {{#each post.applications as |application|}}
                <a href="/band/{{application.user._id}}/details">{{application.user.name}}</a> quiere participar en tu evento
                <form action="/promoter/post/{{post._id}}/add-band/{{application.user.band._id}}/{{application._id}}" method="POST">
                  <button class="btn btn-success">Aceptar</button>
                </form>
              {{/each}}
            </p>
          {{else}}
          <p>No hay solicitudes</p>
          {{/if}}
        </div>
      </div>
      <form action="/promoter/post/{{post._id}}/close-post" method="POST">
        <button class="btn btn-success">Cerrar evento</button>
      </form>
      {{/ifPostIsNotClosed}}
    {{/ifRoleIsPromoter}}
    
  
    <div class="row mb-5">
      <h2 class="mb-3"> También te pueden interesar</h2>
  {{#each posts as |post|}}
      <div class="col-md-4">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            
            
            <p class="card-text">Fecha: {{ post.date }}</p>
            <p class="card-text">Lugar: {{ post.place }}</p>
            <a href="/promoter/post/{{post._id}}" class="btn" style="background-color: #26c9cc;">Ver más</a>
          </div>
        </div>
      </div>
  {{/each}}
    </div>

