<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{post.title}}</h2>
          <p class="card-text">{{post.description}}</p>
          <p class="card-text">Tags: {{post.tags}}</p>
          <p class="card-text">Fecha: {{post.date}}</p>
          <p class="card-text">Lugar: {{post.place}}</p>
          <form action="/promoter/post/{{post._id}}/application" method="POST">
            <button class="btn {{#if applicated}}btn-danger{{else}}btn-outline-danger{{/if}}">Solicitar</button>
          </form>
      </div>
    </div>
  </div>
</div>