<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mb-3">
        <div class="card-body">
          {{#if post.isClosed}}
            <h2 class="card-tittle">Evento para público</h2>
          {{else}}
            <h2 class="card-title">{{post.title}}</h2>
          {{/if}}
          <p class="card-text">{{post.description}}</p>
          <p class="card-text">Tags: {{post.tags}}</p>
          <p class="card-text">Fecha: {{post.date}}</p>
          <p class="card-text">Lugar: {{post.place}}</p>
          <p>bandas: {{#each post.bands as |band|}}
            {{band.name}}
            {{/each}}
          </p>
          {{#ifRoleIsUser currentUser}}
            {{#ifPostIsClosed post.isClosed}}
                <form action="/promoter/post/{{post._id}}/application" method="POST">
                {{#if applicated}}
                  <button class="btn btn-primary ">Solicitado</button>
                {{else}}
                  <button class="btn btn-danger ">Solicitar</button>
                {{/if}}
                </form>
            {{/ifPostIsClosed}}

            <form action="/user/post/{{post._id}}/assist" method="POST">
                {{#if applicated}}
                  <button class="btn btn-primary ">Asistirás</button>
                {{else}}
                  <button class="btn btn-danger ">Asistir</button>
                {{/if}}
                </form>
          {{/ifRoleIsUser}}
      </div>
    </div>
    
    {{#ifRoleIsPromoter currentUser}}
    {{#ifPostIsClosed post.isClosed}}
      <div class="card">
        <div class="card-body">
          <h3>Solicitudes</h3>
          {{#if post.applications}}
            <p>
              {{#each post.applications as |application|}}
                <a href="/band/{{application.user._id}}/details">{{application.user.name}}</a> quiere participar en tu evento
                <form action="/promoter/post/{{post._id}}/add-band/{{application.user.band._id}}/{{application._id}}" method="POST">
                  <button class="btn btn-success">Aceptar</button>
                </form>
              {{/each}}
            </p>
          {{else}}
          <p>No hay solicitudes</p>
          {{/if}}
        </div>
      </div>
      <form action="/promoter/post/{{post._id}}/close-post" method="POST">
        <button class="btn btn-success">Cerrar evento</button>
      </form>
      {{/ifPostIsClosed}}
    {{/ifRoleIsPromoter}}
    
    
    
  </div>
</div>