<div class="container mt-5 mb-4">
  <div class="card">
    <div class="card-header bg-dark text-light">
      <h1 class="card-title">{{band.name}}</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
            <div class="card-body">
              <img src="{{band.avatar}}" class="card-img" alt="Avatar de la Banda" style="width: 400px; height: 350px;">
            </div>
          </div>

          
          <p>
            <strong>Géneros musicales:</strong>
            {{#each band.tags}}
              <span class="tag">{{this}}</span>
            {{/each}}
          </p>
          <p>
            <strong>Miembros:</strong><br />
            {{#each band.members}}
              <span class="member">{{this}}</span><br />
            {{/each}}
          </p>
           <p>
            <strong>Frase</strong>
            {{#each band.cathFrase}}
              <span class="tag">{{this}}</span>
            {{/each}}
          </p>
          <p>
            <strong>Descripción</strong>
            {{#each band.description}}
              <span class="tag">{{this}}</span>
            {{/each}}
          </p>
          <p>
            <strong>Video</strong>
            {{#each band.linkVideo}}
              <span class="tag">{{this}}</span>
            {{/each}}
          </p>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-spotify"></i>
        </div>
        <div class="col-md-6 ms-auto">
          <h2>Donec efficitur leo non imperdiet auctor. Vivamus accumsan erat id
            tincidunt fringilla. Nam turpis elit</h2>
          <p class="lead">{{band.description}}</p>
        </div>
      </div>
    </div>
    <div class="card-footer bg-dark text-light">
    </div>
  </div>
</div>