<div class="container mt-5 mb-4">
      <div class="card">
        <div class="card-header bg-dark ">
          <h1 class="card-title text-light text-center">{{band.name}}</h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <img src="{{band.avatar}}" alt="Band Avatar" class="mb-3 img-band-size" />
              <p>
                <strong>Géneros musicales:</strong>
                {{#each band.tags}}
                  <span class="tag">{{this}}</span>
                {{/each}}
              </p>
              <p>
                <strong>Miembros:</strong><br />
                {{#each band.members}}
                  <span class="member">{{this}}</span><br />
                {{/each}}
              </p>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-youtube"></i>
              <i class="fab fa-spotify"></i>
              {{#ifRoleIsUser currentUser}}
              <div class="mt-2 d-flex">
                <form action="/band/{{band._id}}/edit" method="GET">
                  <button type="submit" class="btn btn-primary">Editar Banda</button>
                </form>
                <form action="/band/{{band._id}}/delete" method="POST">
                  <button type="submit" class="btn btn-danger ms-3">Borrar Banda</button>
                </form>
              </div>
              {{/ifRoleIsUser}}
            </div>
            <div class="col-md-6 ms-auto">
              <h2>{{band.cathFrase}}</h2>
              <p class="lead">{{band.description}}</p>
              {{{band.linkVideo}}}
            </div>
          </div>
        </div>
        <div class="card-footer bg-dark text-light">
        </div>
      </div>
    </div>