<div class="container mt-5 mb-5">
  <div class="col-md-8 m-auto">
    <h1>Crea tu Banda</h1>
    <form action="/band/create-band" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="{{band.name}}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="cathFrase" class="form-label">Añade un frase</label>
        <input
          type="text"
          class="form-control"
          id="cathFrase"
          name="cathFrase"
          value="{{band.cathFrase}}"
          
        >
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          rows="3"
          value="{{band.description}}"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="linkVideo" class="form-label">Añade la url de tu video</label>
        <input
          type="text"
          class="form-control"
          id="linkVideo"
          name="linkVideo"
          value="{{band.linkVideo}}"
          
        >
      </div>
      <div class="mb-3">
        <label for="tags" class="form-label">Géneros musicales (separadas por comas)</label>
        <input
          type="text"
          class="form-control"
          id="tags"
          name="tags"
          value="{{band.tags}}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="avatar" class="form-label">Foto de tu banda</label>
        <input
          type="file"
          class="form-control"
          id="avatar"
          name="avatar"
        />
      </div>
      <div class="mb-3">
        <label for="members" class="form-label">Miembros (separados por comas)</label>
        <input
          type="text"
          class="form-control"
          id="members"
          name="members"
          value="{{band.members}}"
          
        />
      </div>
      <button type="submit" class="btn btn-primary">Crear Banda</button>
    </form>
  </div>
</div>