<div class="container mt-5 mb-5">
  <div class="col-md-8 m-auto">

    <form
      action="/band/{{band._id}}/edit"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="{{band.name}}"
        />
      </div>
      <div class="mb-3">
        <label for="cathFrase" class="form-label">A침ade un frase</label>
        <input
          type="text"
          class="form-control"
          id="cathFrase"
          name="cathFrase"
          rows="3"
          value="{{band.cathFrase}}"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descripci칩n</label>
        <textarea
          class="form-control pb-5"
          id="description"
          name="description"
          rows="6"
        >{{band.description}}</textarea>
      </div>
      <div class="mb-3">
        <label for="linkVideo" class="form-label">A침ade el codigo deinsersi칩n de tu video</label>
        <input
          type="text"
          class="form-control"
          id="linkVideo"
          name="linkVideo"
          value="{{band.linkVideo}}"
        />
      </div>
      <div class="mb-3">
        <label for="tags" class="form-label">Etiquetas (separadas por comas)</label>
        <input
          type="text"
          class="form-control"
          id="tags"
          name="tags"
          value="{{band.tags}}"
        />
      </div>
      <div class="mb-3">
        <label for="avatar" class="form-label">Tu foto</label>
        <input type="file" class="form-control" id="avatar" name="avatar" />
      </div>
      <div class="mb-3">
        <label for="members" class="form-label">Miembros (separados por comas)</label>
        <input
          type="text"
          class="form-control"
          id="members"
          name="members"
          value="{{band.members}}"
        />
      </div>
      <button type="submit" class="btn btn-primary">Guarda los cambios</button>
    </form>
  </div>
</div>